/* COLOR VARIABLES */
$fontgrey: #606060;

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin halfcenter-vertical-absolute {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
